.header
  .container.header__wrap
    .header__address
      .burger
        span.burger__line
        span.burger__line
        span.burger__line
      .haeder__address-info
        p.s-text Адрес поселка
        p.b-text г. Краснодар, Северная 330
    .header__logo
      img(src="images/logo.svg", alt="")
    .header__contacts
      p.s-text Отдел продаж
      a.b-text(href="tel:+71231212312") +7 (123) 12-123-12