header.header.header--nav
  .header__logo
    .header__logo--item 
      .header__logo--text  robo-t
    span robo-t
    .header__logo--item 
      .header__logo--text robo-t
  .nav
    a.nav__link(href="") Agency
    a.nav__link(href="") Works
    a.nav__link(href="") Journal
  .header__callback.callback-fade submit a task
  .burger
