.footer
  .container
    .footer__wrap
      .footer__panel
        .footer__logo
          img(src="/images/footer__logo.svg", alt="")
          .footer__logo-text Материалы, размещенные <br>на этом сайте, не являются <br>публичной офертой.
      .footer__panel
        .footer__title Документы
        a.footer__text(href="#") Лицензии
        a.footer__text(href="#") Генплан
        a.footer__text(href="#") План строительства
      .footer__panel
        .footer__title Время работы:
        p.footer__text ПН - ПТ с 09:00 до 21:00
        p.footer__text СБ - ВС с 10:00 до 20:00
        .socials 
          a.socials__link.socials__link--fb(href="#")
          a.socials__link.socials__link--vk(href="#")
          a.socials__link.socials__link--yt(href="#")
          a.socials__link.socials__link--in(href="#")
      .footer__panel
        .footer__title Офисы продаж
        .footer__text Краснодар, Красная 169
        .footer__text Краснодар, Северная 330
        a.footer__text.footer__map(href="") Показать на карте
      .footer__panel
        .footer__title Контакты
        a.footer__text(href="tel:+78005512828") +7 (800) 551-28-28
        a.footer__text(href="mailto:info@invest.ru") info@invest.ru
        a.footer__text(href="https://imperialgorod.ru") imperialgorod.ru
      .footer__bottom
        .footer__copyright 2019 © «ЮгСтройИмпериал» КП Пятница
        a.footer__pol(href="") Политика конфиденциальности
        .footer__develop
          | Разработчик
          a(href="#")
  .footer__up