.footer{
  background-color: #221177;
  padding: 15px 0 20px;
  position: relative;
  a{
    text-decoration: none;
  }
  a:active, a:focus, a:visited{
    color: #fff;
  }
} 

.footer__wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1010px;
}

.footer__panel{
  margin-bottom: 28px;
}

.footer__logo{
  margin-bottom: 18px;
}

.footer__logo-text{
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 17px;
}

.footer__title{
  font-family: 'Alegreya Sans';
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 23px;
  color: #fff;
}

.footer__text{
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 21px;
  margin-bottom: 13px;
  text-decoration: none;
}

.footer__bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__copyright,
.footer__develop,
.footer__pol{
  font-size: 13px;
  color: #fff;
  line-height: 17px;
  a{
    font-size: 13px;
    color: #fff;
    line-height: 17px;
  }
}

.socials{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socials__link{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.socials__link--fb{
  background: url(/images/facebook.svg) no-repeat center;
}

.socials__link--vk{
  background: url(/images/vk.svg) no-repeat center;
}

.socials__link--yt{
  background: url(/images/youtube.svg) no-repeat center;
}

.socials__link--in{
  background: url(/images/in.svg) no-repeat center;
}

.footer__map{
  padding-top: 2px;
  padding-left: 37px;
  background: url(/images/footer__map.svg)no-repeat left top;
}

.footer__up{
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 53px;
  height: 50px; 
  cursor: pointer;
  background: url(/images/arrow_up.svg) no-repeat center bottom / 53px 50px;
}

