.footer{
  background-color: rgba(255,255,255,.04);
  margin-top: -80px;
  @media(max-width: 600px){
    margin-top: -180px;
    padding-top: 25px;
  }
}
.footer__warp{
  font-size: 18px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media(max-width: 600px){
    display: block;
    font-size: 16px;
    height: 180px;
  }
}

.copyright{
  opacity: 0.7;
  color: #fff;
  @media(max-width: 600px){
    margin-bottom: 20px;
  }
}

.footer__links{
  a{
    color: #fff;
    opacity: .7;
    transition: .4s;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Apercu Pro';
    @media(max-width: 600px){
      display: block;
      margin-left: 0;
      margin-bottom: 20px;
    }
    &:hover{
     opacity: 1;
    }
  }  
}
