section.price
  .container
    h2 Obvious flat rate for any type <br>of design work
    .price__wrap
      .price__item
        .price__title $1299/mo.
        ul.price__list
          li 
            a(href="") One task at a time
          li 
            a(href="") Any type of design work
          li 
            a(href="") Occupational design team
          li 
            a(href="") Daily communication
          li 
            a(href="") 30 full-time work days
        a.price__link(href="") submit a task
      .price__item
        .price__title Individual
        ul.price__list
          li 
            a(href="") One task at a time
          li 
            a(href="") Any type of design work
          li 
            a(href="") Occupational design team
          li 
            a(href="") Daily communication
          li 
            a(href="") 30 full-time work days
        a.price__link(href="") Contact us