.form{
  background-color: #221177;
  color: #fff;
  padding-bottom: 600px;
  margin-bottom: -543px;
  position: relative;
  z-index: 4;
  p{
    margin-bottom: 34px;
  }
  &:before{
    content: "";
    position: absolute;
    width: 470px;
    height: 208px;
    right: 0;
    top: 20px;
    background: url(/images/form__bird.svg) no-repeat right top / contain;
  }
}

.form__top{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.input__text{
  width: 284px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  margin-bottom: 17px;
  padding-left: 15px;
}

.input-wrap{
  margin-right: 26px;
  &:last-child{
    margin-right: 0px;
  }
  p{
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.input__submit{
  margin-bottom: 17px;
  height: 50px;
  line-height: 48px;
  font-size: 18px;
  cursor: pointer;
}

label.checkbox{
  position: relative;
  padding-left: 26px;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  span{
    width: 17px;
    height: 17px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    &:after{
      opacity: 0;
      transition: .4s;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 9px;
      background: url(/images/check.svg) no-repeat center/ contain;
    }
  }
}

input[type="checkbox"]:checked + span:after,
input[type="radio"]:checked  + span:after{
  opacity: 1;
}