.mobilemenu
  .mobilenav
    a.nav__link(href="") Agency
    a.nav__link(href="") Works
    a.nav__link(href="") Journal
  a.callback_link(href="") Let’s talk
  .container.footer__warp
    .copyright © 2019 Robo-t Inc.
    .footer__links
      a(href="") Telegram
      a(href="") Facebook
      a(href="") Instagram
