section.main.checklist
  .main__wrap
    .mainworks
      .container
        .mainworks__description OUR Checklists
        .mainworks__links
          a.mainworks__link(href="#")
            span.mainworks__text frontend
          a.mainworks__link(href="#")
            span.mainworks__text figma&sketch
          a.mainworks__link(href="#")
            span.mainworks__text github
          a.mainworks__link(href="#")
            span.mainworks__text read.me
          a.mainworks__link(href="#")
            span.mainworks__text deploy
            
section.checklist
    .container
        h2 Frontend Checklist
        .checklist-list
            .checklist-sect
                .checklist-sect-title общее
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Адаптивность проверена на основных размерах экранов (320, 1024, 1440, 1920)
                        
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Viewport Meta Tag используется правильно
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Используется X-UA-Compatible meta tag
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Используется Format detection meta tags
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Есть версия для отключенного JS
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Apple-Specific 
                            a(href="#") meta tags
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Задан правильный язык и кодировка
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Правильно используются семантические HTML теги
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Названия классов понятны и содержательны
                        
            .checklist-sect
                .checklist-sect-title ГРАФИКА
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Поддерживаются retina экраны
                        
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Favicon 16x16, 32x32
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Apple icons
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Android icons
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Используем спрайты
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Для всех изображений указаны размеры
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Для всех изображений используется атрибут alt
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Фотографии оптимизированы 
                            a(href="#") imageoptim.com
                               
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Фотографии адаптивны
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text SVG везде, где можно
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Используем спрайты
                .checklist-item
                    label.checklist-label
                        input.checklist-label-checkbox(type="checkbox")
                        span.checklist-label-text Для всех изображений указаны размеры
                        