section.about
  .container
    h2 О застройщике
    .about__list
      .about__item.about__item--logos
        .about__panel
          p.letter-text Репутация
          h4 Компания ЮгСтройИмпериал хорошо известна <br>в регионе как надежный застройщик и партнер: <br><span>13 лет</span> на рынке недвижимости, <br><span>300</span> подрядных организаций, <br><span>2000</span> квалифицированных специалистов, <br><span>200</span> единиц строительной техники
        .about__panel
          p.letter-text Достижения
          p ЮгСтройИмпериал занимает 1 место по объемам возводимого жилья <br>в Краснодарском крае. Входит в ТОП-10 рейтинга крупнейших <br>застройщиков России.
      .about__item
        .about__panel
          p.letter-text Опыт
          p  ЮгСтройИмпериал: строим для людей,  как для себя! Общая площадь проектов компании: более 1 600 0000 кв.,  введено  в эксплуатацию 500 000 кв. м.,  построено более 5 000 квартир.
        .about__panel
          p.letter-text Объекты 
          p Построено 15 объектов в Краснодаре и Краснодарском крае. Каждый комплекс решает задачу комфортного проживания с учетом местности и потребностей жильцов.