section.about#block2
  .container
    h2 Give us a task, and we will <br>handle the rest
    .about__list
      .about__item
        .about__title 100% unlimited
        p We complete as many tasks as possible and <br>we make as many changes as needed.
      .about__item
        .about__title You own everything
        p We send you all source files and you have full <br>ownership on them.
      .about__item
        .about__title Prompt service
        p We start the next business day after you sent <br>a task. And usually it takes couple of days to <br>complete a task.
      .about__item
        .about__title Flat monthly rate
        p You pay monthly a fixed flat rate that doesn’t change depending on amount of work.
          b  14 days money back guaranty.

