<!DOCTYPE html>
html(lang="ru")
  include base/_head
  body
    include header/_header-nav
    include blog/_blog_links
    include callback/_callback
    include footer/_footer
    include mobilemenu/_mobilemenu
    include base/_scripts