<!DOCTYPE html>
html(lang="ru")
  include base/_head
  body
    include header/_header
    include horse/_horse
    include about/_about
    include form/_form
    include manage/_manage
    include footer/_footer
    include base/_scripts
