<!DOCTYPE html>
html(lang="ru")
  include base/_head
  body
    include header/_header
    include main/_main
    include about/_about
    include how/_how
    include price/_price
    include faq/_faq
    include callback/_callback
    include footer/_footer
    include base/_scripts
