<!DOCTYPE html>
html(lang="ru")
  include base/_head
  body
    include header/_header-nav
    include works/_works
    include callback/_callback
    include footer/_footer
    include mobilemenu/_mobilemenu
    include submit/_submit
    include base/_scripts
