section.main
  .main__wrap
    .container
      .desctop__text
        h2 Robo-t is a digital production studio.
        h2.h2--normal We create everything from 
          a(href="") #uidesign 
          |  up to 
          a(href="") 
            span #mobile
            span development.
      .mobile__text
        h2 Robo-t is a digital production studio.  We create everything from UI/UX design up to web and mobile development.
  .main__footer
    .main__date 2006-2019
    a.main__scroll(href="#block2")
      | Scroll
      .main__scroll-line
      