section.horse
  .container
    h2 Тропы и лошадиные маршруты
    .horse__text
      p Окрестности «Пятницы» – идеальное место для любителей активного отдыха. Во время прогулок можно устроить пикник на берегу Убини,  отправиться к горным родникам или чуть дальше – к минеральным источникам. В этот район приезжают туристические группы для знакомства с местными достопримечательностями.  
      p Гости из Краснодара специально приезжают в эти места на конеферму «Владимировка». А жители «Пятницы» смогут просто заглянуть к ним «по-соседски». Романтика конных прогулок, шашлыки в специально оборудованных беседках, банька – и все это рядом с домом!