section.manage
  .manage__lem_1
    img(src="images/manage_lem_1.svg", alt="")
  .manage__lem_2
    img(src="images/manage_lem_2.svg", alt="")
  .manage__arrow
  .container
    h2 Собственная управляющая компания
    .manage__list
      .manage__item
        p В экопоселке “Пятница” будет действовать собственная управляющая компания. Это очень удобно: любой вопрос бытового характера будет решаться быстро и без задержек. Все, начиная  от своевременного вывоза мусора и уборки территории, до дальнейшего благоустройства, обеспечит УК “Пятницы”. Жители смогут принимать участие в обсуждении и принятии важных решений. Управляющая компания располагает необходимой техникой для срочного ремонта. 
      .manage__item
        ul
          li
            b - оперативная реакция на обращение
          li
            b - моментальное решение любой проблемы
          li
            b - дальнейшее развитие инфраструктуры с учетом <br>пожеланий жильцов
          li
            b - прозрачный расход средств и подотчетность