.manage{
  padding-top: 350px;
  padding-bottom: 125px;
  background: url(/images/manage__bg.svg) no-repeat top center/ 100% auto;
  background-color: transparent;
  color: #fff;
  z-index: 5;
  position: relative;
}

.manage__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manage__item{
  width: calc(50% - 15px);
}

.manage__arrow{
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  width: 400px;
  height: 100px;
  z-index: 1;
  &:after{
    content: "";
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: #fff;
    transform: rotate(-15deg);
    right: -35px;
    top: 47px;
  }
}

.manage__lem_1{
  position: absolute;
  left: 0;
  top: -20px;
  z-index: 2;
}

.manage__lem_2{
  position: absolute;
  right: 0;
  bottom: -275px;
  z-index: 2;
}
