.blog.inner
  .container
    .blog__item
      .blog__link
        a(href="")
          span Our design directors judge several
          span international design awards
        .blog__date Helena Bonham Carter • Jul 09
      .blog__pic
        img(src="/images/blog/pic.jpg", alt="")
    .blog__item
      .blog__link
        a(href="")
          span Our design directors judge several
          span international design awards
        .blog__date Helena Bonham Carter • Jul 09
      .blog__pic
        img(src="/images/blog/pic.jpg", alt="")
    .blog__item
      .blog__link
        a(href="")
          span UI design in different countries
        .blog__date Helena Bonham Carter • Jul 09
      .blog__pic
        img(src="/images/blog/pic.jpg", alt="")
    .blog__item
      .blog__link
        a(href="")
          span Our design directors judge several
          span international design awards
        .blog__date Helena Bonham Carter • Jul 09
      .blog__pic
        img(src="/images/blog/pic.jpg", alt="")
    .blog__item
      .blog__link
        a(href="")
          span Our design directors judge several
          span international design awards
        .blog__date Helena Bonham Carter • Jul 09
      .blog__pic
        img(src="/images/blog/pic.jpg", alt="")
    .blog__item
      .blog__link
        a(href="")
          span Our design directors judge several
          span international design awards
        .blog__date Helena Bonham Carter • Jul 09
      .blog__pic
        img(src="/images/blog/pic.jpg", alt="")
      