.inner{
  padding-top: 280px;
}

.blog{
  padding-bottom: 170px;
  overflow: hidden;
  .container{
    max-width: 640px;
  }
}

.blog__item{
  margin-bottom: 66px;
  display: flex;
  justify-content: space-between;
  position: relative;
  &:hover{
    a{
      color: #162EF4;
    }
    span:after{
      background-color: #162EF4;
      height: 22px;
    }
    .blog__pic{
      opacity: 1;
    }
  }
  
}

.blog__link{
  width: 100%;
  a{
    margin-bottom: 20px;
    transition: .4s;
  }
  span{
    font-size: 40px;
    line-height: 56px;
    display: inline-block;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      transform: translateY(3px);
      background-color: #222;
      width: 100%;
      height: 2px;
      opacity: .1;
      transition: .4s;
      left: 0;
    }
  }
}

.blog__date,
.blogpage__description{
  font-size: 18px;
  line-height: 32px;
  color: #c4c4c4;
}

.blog__pic{
  width: 204px;
  height: 140px;
  overflow: hidden;
  opacity: 0;
  transition: .4s;
  position: absolute;
  left: 100%;
}

.blogpage__main{
  padding-bottom: 98px;
  .container{
    max-width: 624px;
  }
  h2{
    margin-bottom: 40px;
  }
}

.bloguser{
  display: flex;
  align-items: center;
}

.bloguser__pic{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  background-color: rgba(22, 46, 244, .15);
  font-size: 18px;
  line-height: 26px;
  color: #162EF4;
  text-align: center;
  line-height: 55px;
  text-transform: uppercase;
}
.bloguser__name{
  font-size: 18px;
  line-height: 18px;
}

.blogpage__img{
  width: 100%;
  margin-bottom: 110px;
}

.blogpage__text{
  margin-bottom: 160px;
  .container{
    max-width: 624px
  }
  p{
    line-height: 36px;
    font-size: 22px;
    margin-bottom: 35px;
  }
  span.capital{
    font-size: 65px;
    font-family: 'Canela';
    float: left;
    height: 50px;
    line-height: 80px;
    margin-right: 10px;
  }
  ul{
    margin-bottom: 30px;
  }
  li{
    position: relative;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
    padding-left: 28px;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      top: 17px;
      width: 16px;
      height: 2px;
      background-color: #222;
    }
  }
  h2{
    margin-top: 72px;
  }
  blockquote{
    margin: 0;
    padding-left: 32px;
    border-left: 3px solid rgba(34,34,34,.1);
    font-size: 28px;
    line-height: 40px;
    opacity: .4;
    margin-bottom: 36px;
  }
}

.blogpage__content-pic{
  margin-bottom: 28px;
}

.blog__next{
  font-size: 18px;
  line-height: 32px;
  color: #162EF4;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

@media(max-width: 1250px){
  .blog{
    .container{
      transform: translateX(0);
    }
  }
  .blog__link{
    width: 100%;
  }
  .blog__link span{
    font-size: 28px;
    line-height: 46px;
  }
  .inner{
    padding-top: 140px;
  }
  
}

@media(max-width: 768px){
  .blogpage__main{
    padding-bottom: 60px;
  }
  .blogpage__img{
    margin-bottom: 74px;
  }
  .blogpage__text p{
    font-size: 18px;
    line-height: 32px;
  }
  .blogpage__text li{
    font-size: 18px;
  }
  .blogpage__text blockquote{
    font-size: 24px;
    line-height: 40px;
  }
  .blogpage__text{
    margin-bottom: 80px;
  }
  .blog__item{
    margin-bottom: 56px;
  }
  .blog__link span{
    text-decoration: underline;
    display: inline;
    font-size: 30px;
    line-height: 46px;
    &:after{
      display: none;
    }
  }
  .blog__link div{
    display: inline;
  }
  .blog__link a{
    &:hover , &:active {
      color: #162EF4;
    }
    &:hover span, &:active span{
      text-decoration: none;
    }
  }
  .blog__pic{
    display: none;
  }
  .blog__date,
  .blogpage__description,
  .bloguser__name{
    font-size: 16px;
  }
}


