.main{
  min-height: 100vh;
  position: relative;
  padding-top: 125px;
  padding-bottom: 125px;
  display: flex;
  align-items: center;
}
.main__wrap{
  position: relative;
  width: 100%;
}

.main__footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 48px;
  font-weight: bold;
  @media(max-width: 980px){
    padding-left: 36px;
    padding-right: 36px;
  }
}

.main__date{
@media(max-width: 980px){
  display: none;
}
}


.main__scroll{
  padding-right: 18px;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  transition: .4s;
  &:hover{
    color: #162EF4;
    &:before{
      width: 76%;
    }
  }
  .main__scroll-line{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 2px;
    background-color: rgba(34,34,34,.1);
    transform: translateY(-7px);
    overflow: hidden;
    &:after{
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      height: 50%;
      transform: translateY(-100%);
      background-color: #222;
      animation: animateMainArrow 3s ease-in infinite;
    }
  }
  
  &:before{
    height: 2px;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: #162EF4;
    content: "";
    width: 0px;
    transition: .4s;
  }
}

@keyframes animateMainArrow{
  0%{
    transform: translateY(-100%);
    height: 50%;
  }
  70%{
    transform: translateY(100%);
    height: 100%;
  }
  100%{
    transform: translateY(100%);
    height: 100%;
  }
}


.mobile__text{
  display: none;
}

@media(max-width: 500px){
  .mobile__text{
    display: block;
  }
  .desctop__text{
    display: none;
  }
}

