section.how
  .container
    .how__list
      .how__item
        .how__number 01
        .how__ico
          img(src="/images/how_i1.svg", alt="")
        p You submit any <br>design task
      .how__item
        .how__number 02
        .how__ico
          img(src="/images/how_i1.svg", alt="")
        p We deliver <br>finished design
      .how__item
        .how__number 03
        .how__ico
          img(src="/images/how_i2.svg", alt="")
        p We implement <br>your comments
      .how__item
        .how__number 04
        .how__ico
          img(src="/images/how_i2.svg", alt="")
        p You receive all <br>design sources
section.how-s
  .container
    h2 We design different types <br>of web items
    p  Our studio was founded in 2006, so we have a broad experience. During these years we have  <br>created huge amount of corporate websites and online stores, made mobile and desktop apps, <br>launched number of startups.
    ul.how__li
      li Websites
      li Presentations
      li Banners and Ads
      li Mobile Apps
      li Identity
      li Infographics
      li Web Apps
      li Graph Design
      li Charts and Diagrams