.how{
  padding-bottom: 140px;
  @media(max-width: 980px){
    padding-bottom: 70px;
  }
}

.how__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.how__item{
  margin-bottom: 56px;
}

.how__number{
  font-size: 72px;
  color: #fff;
  line-height: 72px;
  font-weight: bold;
  margin-bottom: -60px;
  padding-left: 67px;
}

.how__ico{
  margin-bottom: 50px;
}

.how-s{
  padding-bottom: 180px;
  @media(max-width: 980px){
    padding-bottom: 100px;
  }
  h2{
    margin-bottom: 70px;
    @media(max-width: 768px){
      margin-bottom: 50px;
    }
  }
  p{
    margin-bottom: 42px;
  }
}

.how__li{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li{
    width: 33%;
    margin-bottom: 12px;
    font-weight: 500;
    padding-left: 28px;
    position: relative;
    a{
      font-weight: 500;
      text-decoration: none;
      transition: .4s;
      &:hover{
        color: #162EF4;
      }
    }
    @media(max-width: 980px){
      width: 100%;
      a{
        font-size: 14px;
      }
    }
    &:after{
      content: "";
      width: 16px;
      height: 2px;
      background-color: #162EF4;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
