section.aboutpage
  .container
    h2 We are a digital product <br>design agency
    .aboutpage__numbers
      .aboutpage__numbers-wrap
        .aboutpage__numbers-left
          .aboutpage__numbers-panel
            .aboutpage__number 12
            p years of <br>experience
          .aboutpage__numbers-panel
            .aboutpage__number 86
            p completed <br>projects
          .aboutpage__numbers-panel
            .aboutpage__number 23
            p prefessionals <br>in team
        .aboutpage__numbers-right
          p I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now gleams steal into the inner sanctuary my talents.
          p I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. 
section.competence
  .container
    h2 Our competencies
    .list
      .list__item
        .list__title Research & Strategy
        .list__elements
          .list__element Design Research
          .list__element User Research
          .list__element Experience Strategy
          .list__element Roadmapping
      .list__item
        .list__title UI & UX Design
        .list__elements
          .list__element Mobile App Design
          .list__element Experience Design
          .list__element Product Design
          .list__element Web App Design
          .list__element Prototyping
          .list__element Design Systems
      .list__item
        .list__title
        .list__elements
          .list__element Idenity and Logos
          .list__element Infographics
          .list__element Charts & Diagrams
          .list__element Infographics
          .list__element Brand Guides
section.competence
  .container
    h2 Our services
    .list
      .list__item
        .list__title Research & Strategy
        .list__elements
          .list__element Design Research
          .list__element User Research
          .list__element Experience Strategy
          .list__element Roadmapping
      .list__item
        .list__title UI & UX Design
        .list__elements
          .list__element Mobile App Design
          .list__element Experience Design
          .list__element Product Design
          .list__element Web App Design
          .list__element Prototyping
          .list__element Design Systems
      .list__item
        .list__title
        .list__elements
          .list__element Idenity and Logos
          .list__element Infographics
          .list__element Charts & Diagrams
          .list__element Infographics
          .list__element Brand Guides


