section.sliders
  .container
    .slider
      h2 Task Management UI for a bank 
        span  — Complicated task to make all that corporate data look pretty.
      .slider__wrap
        .slide
          img(src="/images/screen.jpg", alt="")
        .slide
          img(src="/images/screen.jpg", alt="")
        .slide
          img(src="/images/screen.jpg", alt="")
    .slider
      h2 Task Management UI for a bank 
        span  — Complicated task to make all that corporate data look pretty.
      .slider__wrap
        .slide
          img(src="/images/screen.jpg", alt="")
        .slide
          img(src="/images/screen.jpg", alt="")
        .slide
          img(src="/images/screen.jpg", alt="")
    .slider
      h2 Task Management UI for a bank 
        span  — Complicated task to make all that corporate data look pretty.
      .slider__wrap
        .slide
          img(src="/images/screen.jpg", alt="")
        .slide
          img(src="/images/screen.jpg", alt="")
        .slide
          img(src="/images/screen.jpg", alt="")
      a.show-all-works(href="#") Show all works