.slider__pagination
a.slider-next(href="#slider2") Next
section.sliders.white-cursor
  .container
    .slider
      h2 Task Management UI for a bank 
        span  — Complicated task to make all that corporate data look pretty.
      .slider__wrap
        .slide
          img(src="/images/screen.jpg" srcset="images/screen@2x.jpg 2x" alt="")
        .slide
          img(src="/images/screen.jpg" srcset="images/screen@2x.jpg 2x" alt="")
        .slide
          img(src="/images/screen.jpg" srcset="images/screen@2x.jpg 2x" alt="")
    .slider#slider2
      h2 Task Management UI for a bank 
        span  — Complicated task to make all that corporate data look pretty.
      .slider__wrap
        .slide
          img(src="/images/screen.jpg" srcset="images/screen@2x.jpg 2x" alt="")
        .slide
          img(src="/images/screen.jpg" srcset="images/screen@2x.jpg 2x" alt="")
        .slide
          img(src="/images/screen.jpg" srcset="images/screen@2x.jpg 2x" alt="")
    .slider#slider3
      h2 Task Management UI for a bank 
        span  — Complicated task to make all that corporate data look pretty.
      .slider__wrap
        .slide
          img(src="/images/screen.jpg" srcset="images/screen@2x.jpg 2x" alt="")
        .slide
          img(src="/images/screen.jpg" srcset="images/screen@2x.jpg 2x" alt="")
        .slide
          img(src="/images/screen.jpg" srcset="images/screen@2x.jpg 2x" alt="")
      a.show-all-works(href="#") Show all works