.homework.white-cursor(style="background: url(/images/works/i1.svg) no-repeat top left / cover; background-color: #222222")
  a.homework__link(href="") 
    .container 
      span Task Management UI for a bank
.homework(style="background: url(/images/works/i2.jpg) no-repeat top left / cover;")
  a.homework__link(href="") 
    .container 
      span Narrative
.homework(style="background: url(/images/works/i3.svg) no-repeat top left / cover; background-color: #162EF4")
  a.homework__link(href="") 
    .container 
      span.black Landing Pages for Uniastrum Bank