.homework.b1
  .homework-wrap
    .container 
      a.homework__link(href="") 
        span Task Management UI for a bank
.homework.b6
  .homework-wrap
    .container 
      a.homework__link(href="") 
        span Narrative
.homework.b5
  .homework-wrap
    .container 
      a.homework__link(href="") 
        span.black Landing Pages for Uniastrum Bank