.homework{
  height: 100vh;
  position: relative;
}
.homework-wrap{
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  @media(max-width: 1200px){
    bottom: 28px;
  }
}
.homework__link{
  font-size: 40px;
  line-height: 56px;
  color: #fff;
  font-weight: 300;
  &:hover span{
    border-color: transparent;
    &.black{
      border-color: transparent;
    }
  }
  span{
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255, .40);
    color: #fff;
    transition: border-color .4s;
    &.black{
      color: #222222; 
      border-color: rgba(0,0,0,.50)
    }
  }
  @media(max-width: 768px){
    font-size: 18px;
    line-height: 32px;
    text-decoration: underline;
    span{
      border: none;
    }
  }
}

h2.h2--normal{
  font-weight: normal;
  font-family: 'Apercu Pro';
  a{
    font-family: 'Apercu Pro';
    font-size: 52px;
    line-height: 72px;
    text-decoration: none;
    transition: border-color .4s;
    &:hover{
      span{
        color: #162EF4;
        &:after{
         height: 22px;
         

        }
      }
    }
    span{
      display: inline-block;
      position: relative;
      transition: .4s;
       &:after{
         content: "";
         height: 1px;
         width: 100%;
         position: absolute;
         bottom: -3px;
         left: 50%;
         transform: translateX(-50%) translateY(-4px);
         background-color: #162EF4;
         opacity: 0.1;
         transition: .3s;
         @media(max-width: 600px){
           display: none;
         }
       }
    }
    @media(max-width: 980px){
      font-size: 40px;
    line-height: 56px;
    }
    @media(max-width: 500px){
      font-size: 32px;
      line-height: 46px;
      text-decoration: none;
      border: none;
    }
  }
}