section.main
  .main__wrap
    .mainworks
      .container
        .mainworks__description check what we've got
        .mainworks__links
          a.mainworks__link(href="#")
            span.mainworks__text #all
            sup 23
          a.mainworks__link(href="#")
            span.mainworks__text #webdesign
            sup 12
          a.mainworks__link(href="#")
            span.mainworks__text #branging
            sup 3
          a.mainworks__link(href="#")
            span.mainworks__text #prototyping
            sup 1
          a.mainworks__link(href="#")
            span.mainworks__text #mobiledesign
            sup 23
          a.mainworks__link(href="#")
            span.mainworks__text #uxdesign
            sup 32
          a.mainworks__link(href="#")
            span.mainworks__text #uidesign
            sup 23
          a.mainworks__link(href="#")
            span.mainworks__text #userresearch
            sup 4
          a.mainworks__link(href="#")
            span.mainworks__text #userresearch
            sup 1
  .main__footer
    .main__date 2006-2019
    a.main__scroll(href="#block2")
      | Scroll
      .main__scroll-line
.works#block2
  .works__f-blocks
    .homework
      .homework-pic.homework-pic--front
        img(src="/images/works/bg1.jpg", srcset="" alt="")
      .homework-pic.homework-pic--back
        img(src="/images/works/bg1-hover.jpg", srcset="" alt="")
      .homework-wrap
        .container 
          .tags
            a.tags__link(href="") #uidesign
          a.homework__link(href="") 
              span Narrative
    .homework
      .homework-pic.homework-pic--front
        img(src="/images/works/bg1.jpg", srcset="" alt="")
      .homework-pic.homework-pic--back
        img(src="/images/works/bg1-hover.jpg", srcset="" alt="")
      .homework-wrap
        .container 
          .tags
            a.tags__link.black(href="") #branding
          a.homework__link(href="") 
              span Narrative
    .homework
      .homework-pic.homework-pic--front
        img(src="/images/works/bg1.jpg", srcset="" alt="")
      .homework-pic.homework-pic--back
        img(src="/images/works/bg1-hover.jpg", srcset="" alt="")
      .homework-wrap
        .container 
          .tags
            a.tags__link(href="") #uxdesign
            a.tags__link(href="") #webdesign
          a.homework__link(href="") 
              span.black Narrative
    .homework
      .homework-pic.homework-pic--front
        img(src="/images/works/bg1.jpg", srcset="" alt="")
      .homework-pic.homework-pic--back
        img(src="/images/works/bg1-hover.jpg", srcset="" alt="")
      .homework-wrap
        .container 
          .tags
            a.tags__link(href="") #advertising  
            a.tags__link(href="") #userresearch  
            a.tags__link(href="") #branding
          a.homework__link(href="") 
              span.black Narrative
  .works__t-blocks
    .homework
      .homework-pic.homework-pic--front
        img(src="/images/works/bg1.jpg", srcset="" alt="")
      .homework-pic.homework-pic--back
        img(src="/images/works/bg1-hover.jpg", srcset="" alt="")
      .homework-wrap
        .container 
          .tags
            a.tags__link(href="") #mobiledesign
          a.homework__link(href="") 
              span.black Narrative
    .homework
      .homework-pic.homework-pic--front
        img(src="/images/works/bg1.jpg", srcset="" alt="")
      .homework-pic.homework-pic--back
        img(src="/images/works/bg1-hover.jpg", srcset="" alt="")
      .homework-wrap
        .container 
          .tags
            a.tags__link.black(href="") #uidesign  
            a.tags__link.black(href="") #uxdesign  
          a.homework__link(href="")  
              span Narrative
    .homework
      .homework-pic.homework-pic--front
        img(src="/images/works/bg1.jpg", srcset="" alt="")
      .homework-pic.homework-pic--back
        img(src="/images/works/bg1-hover.jpg", srcset="" alt="")
      .homework-wrap
        .container 
          .tags
            a.tags__link(href="") #prototyping  
            a.tags__link(href="") #uxdesign
          a.homework__link(href="") 
              span Narrative
      